body {
    font-family: Arial;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.container {
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 8px gray;
}

form {
    display: flex;
    gap: 5px;
}

input {
    flex: 1;
    padding: 5px;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}

li {
    margin-top: 10px;
}